section.product-full-content
	.container
		.row
			.col-md-9
				.content-container
					.content-tabs
						.item.active
							a(href="#mo-ta") Mô tả 
								span sản phẩm
						.item
							a(href="#thong-so") Thông số 
								span kỹ thuật
						.item
							a(href="#danh-gia") Đánh giá 
								span & Bình luận
					.content#mo-ta
						.item-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos adipisci numquam minima, ea ipsa unde consequuntur vitae cum est quae laboriosam esse voluptate incidunt veniam aliquam pariatur doloribus nisi?
							img(src="./img/product/h01.jpg", alt="1")
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos adipisci numquam minima, ea ipsa unde consequuntur vitae cum est quae laboriosam esse voluptate incidunt veniam aliquam pariatur doloribus nisi?
							img(src="./img/product/h02.jpg", alt="2")
					.readmore-mo-ta
						button.btn-readmore Đọc thêm
							em.mdi.mdi-menu-down
					.content#thong-so
						h3 Thông số kỹ thuật
						.item-content
							table
								tr
									th Firstname
									td Lorem ipsum dolor sit amet.
								tr
									th Lorem, ipsum dolor.
									td
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, fugiat?
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, fugiat?
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, fugiat?
								tr
									th Firstname Lorem, ipsum.
									td Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et alias aperiam repudiandae aut illo, exercitationem sapiente vel ipsam officiis recusandae fuga officia! Ex non asperiores doloribus possimus nemo ut distinctio?
								tr
									th Lorem, ipsum.
									td Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aperiam delectus quisquam aut, suscipit rem est laboriosam qui cum incidunt?
								tr
									th Firstname
									td Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse iure ut nihil omnis placeat sit molestiae eum! Provident ab at ducimus possimus dolorum totam veniam, iusto, aut eveniet eos quae ipsam quidem fugit laboriosam pariatur voluptas ullam maiores similique et rem assumenda magni consectetur. Assumenda facilis sed excepturi harum.
					.readmore-thong-so
						button.btn-readmore Đọc thêm
							em.mdi.mdi-menu-down
					.product-info-mini
						.image
							img(src="./img/product/h01.jpg", alt="1")
						.info
							h2 Nashville Tele Honey Blonde
							.product-price
								.price-new 29,234,000
								.price-old 35,020,000
								.discount 15%
							hr
							.product-hot-discount
								h4 Mua online giảm sốc 7% còn
								div
									span 28,150,000đ
									time Kết thúc 17/03
						.buy
							.product-buy
								button.btn-buynow
									h4 Mua ngay
									span Giao hàng thu tiền tận nơi
								button.btn-installment
									h4 Mua trả góp
									span Thủ tục online đơn giản
							.product-contact-2
								p
									img(src="./img/icon-phone.png", alt="icon-phone")
									| Gọi đặt mua:
									span 0909046613
									| (08:00-20:00)
								p
									img(src="./img/icon-car.png", alt="icon-car")
									| Miễn phí giao hàng: TP.HCM, Biên Hòa
			.col-md-3
				.content-commitment
					h3 Việt Thương cam kết
					.item
						.box-img
							img(src="./img/product-detail/icon-1.png", alt="1")
						p Sản phẩm nhập khẩu chính hãng
					.item
						.box-img
							img(src="./img/product-detail/icon-2.png", alt="2")
						p Bảo hành tại các showroom Việt Thanh.
					.item
						.box-img
							img(src="./img/product-detail/icon-3.png", alt="3")
						p Giao hàng toàn quốc với chi phí rẻ nhất.
					.item
						.box-img
							img(src="./img/product-detail/icon-4.png", alt="4")
						p Mở rộng hệ thống showroom rộng khắp.