section.admin
	.admin-content
		.admin-left
			.admin-left-title
				h4 việt thanh
			.admin-left-category
				ul
					li.fas.fa-clipboard-list
						a(data-toggle="collapse" href="#collapse1") Quản lí tài khoản
						#collapse1.panel-collapse.collapse
							.div 
								a(href="#").fas.fa-fist-raised Tên đăng nhập
							.div 
								a(href="#").fas.fa-fist-raised Mật khẩu
					li.fas.fa-clipboard-list
						a(data-toggle="collapse" href="#collapse2") Quản lí sản phẩm
						#collapse2.panel-collapse.collapse
							.div
								a(href="#").fas.fa-fist-raised Thêm sản phẩm
							.div 
								a(href="#").fas.fa-fist-raised Xóa sản phẩm
					li.fas.fa-clipboard-list
						a(data-toggle="collapse" href="#collapse3") Quản lí danh mục
						#collapse3.panel-collapse.collapse
							.div 
								a(href="#").fas.fa-fist-raised Danh mục cấp 1
							.div 
								a(href="#").fas.fa-fist-raised Danh mục cấp 2
							.div 
								a(href="#").fas.fa-fist-raised Danh mục cấp 3
		.admin-right
			.admin-right-top
				a(href="#") User
				a(href="#") Logout
			.admin-right-content
				table#customers
					tr
						th Company
						th Contact
						th Country
					tr
						td Alfreds Futterkiste
						td Maria Anders
						td Germany
					tr
						td Berglunds snabbköp
						td Christina Berglund
						td Sweden
					tr
						td Centro comercial Moctezuma
						td Francisco Chang
						td Mexico
					tr
						td Ernst Handel
						td Roland Mendel
						td Austria
					tr
						td Island Trading
						td Helen Bennett
						td UK
					tr
						td Königlich Essen
						td Philip Cramer
						td Germany
					tr
						td Laughing Bacchus Winecellars
						td Yoshi Tannamuri
						td Canada
					tr
						td Magazzini Alimentari Riuniti
						td Giovanni Rovelli
						td Italy
					tr
						td North/South
						td Simon Crowther
						td UK
					tr
						td Paris spécialités
						td Marie Bertrand
						td France
