section.admin
	.admin-content
		.admin-left
			.admin-left-title
				h4 Admin
			.admin-left-category
				ul
					li.fas.fa-clipboard-list
						a(data-toggle="collapse" href="#collapse1") Quản lí tài khoản
						#collapse1.panel-collapse.collapse
							.div 
								a(href="#").fas.fa-fist-raised Tên đăng nhập
							.div 
								a(href="#").fas.fa-fist-raised Mật khẩu
					li.fas.fa-clipboard-list
						a(data-toggle="collapse" href="#collapse2") Quản lí sản phẩm
						#collapse2.panel-collapse.collapse
							.div
								a(href="#").fas.fa-fist-raised Thêm sản phẩm
							.div 
								a(href="#").fas.fa-fist-raised Xóa sản phẩm
					li.fas.fa-clipboard-list
						a(data-toggle="collapse" href="#collapse3") Quản lí danh mục
						#collapse3.panel-collapse.collapse
							.div 
								a(href="#").fas.fa-fist-raised Danh mục cấp 1
							.div 
								a(href="#").fas.fa-fist-raised Danh mục cấp 2
							.div 
								a(href="#").fas.fa-fist-raised Danh mục cấp 3
		.admin-right
			.admin-right-top
				a(href="#") User
				a(href="#") Logout
			.admin-right-content
				tr
					td
						p 123
					td
						p 123
					td
						p 123
