section.breadcrumb-container
	.container
		.row
			.col-12
				nav.breadcrumb
					ol
						li
							a(href="#").lnr.lnr-home
						li
							a(href="#") Danh sách piano
						li
							a(href="#") Piano điện
						li
							a(href="#") Piano điện đứng