doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:900" rel="stylesheet")
		link(rel="stylesheet", href="./css/global.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
		//- title #{title}

	//- body(class=bodyClass)
	body

		include ../components/admin/index.pug
		script(src="./js/global.min.js")
		script(src="./js/main.min.js")
