extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/slider/index.pug
	include ../components/home/service/index.pug
	include ../components/home/home-item/index.pug
	include ../components/home/experience/index.pug