extends _layout.pug

block var
	- var title = 'product-detail'
	- var bodyClass = 'product-detail-page'

block main
	include ../components/product/product-detail/index.pug
	hr
	include ../components/product/product-similar/index.pug
	include ../components/product/product-full-content/index.pug
	include ../components/product/product-similar/index.pug
	include ../components/product/product-rating/index.pug