header
	.top-header
		.container
			.row
				.col
					a(href="#") Đăng nhập
					a(href="#") Tạo tài khoản
	.line-header
	.bottom-header
		.container
			.row
				.col.d-flex.align-items-center.justify-content-between
					.logo
						h1 việt thanh
						p mucsic center
					.search-box.input-group
						input.form-control(type="text" placeholder="Bạn muốn tìm ...")
						.input-group-append
							button.btn(type="submit")
								em.mdi.mdi-magnify
					.phone-box
						p
							| TP.HCM | 
							strong 0909 046 613
						p
							| Biên Hòa | 
							strong 0908 868 951
					.cart
						img(src="./img/cart.png", alt="cart-icon")
						.number
							span 13
