header
	background: #FFCD18
	.logo
		text-align: center
		h1
			font-family: 'Source Sans Pro', sans-serif
			font-size: 40px
			white-space: nowrap
			font-weight: 900
			text-transform: uppercase
			line-height: 1
		p
			font-family: 'amazoneBT'
			font-size: 36px
			line-height: 1
			position: relative
			margin-top: -10px
	.top-header
		.col
			text-align: right
			a
				display: inline-block
				padding: 7px 0
				line-height: 1
				&:first-child
					margin-right: 30px
	.line-header
		background: #fed645
		height: 1px
	.bottom-header
		padding: 20px 0
	.search-box
		width: 50%
		input, button
			height: 38px
			border: none
			&:focus
				box-shadow: none
		input
			font-size: 15px
			padding: 0 15px
			&::placeholder
				color: #d4d4d4
		button
			color: #999
			background: #fff
			padding: 0 8px
			font-size: 24px
	.phone-box
		// display: inline-block
		float: left
		padding: 15px
		border-radius: 4px
		border: 1px solid #eabb11
	.cart
		// display: inline-block
		float: right
		position: relative
		// margin-left: auto
		.number
			position: absolute
			top: -2px
			right: -10px
			background: #ED1C24
			color: #fff
			border-radius: 99px
			line-height: 1
			width: 17px
			height: 17px
			text-align: center
			span
				font-size: 12px