header
	.qc-header
		.left TRẢ GÓP 0%
		.right
			.content
				span Không cần trả trước - 
				span Rước máy về ngay!
			.fas.fa-times.btn-close
	.top-header
		.container
			.row
				.col
					a(data-fancybox="" data-src="#formDN" href="javascript:;").btnDN Đăng nhập
						#formDN
							.formDN-title
								a(href="#", tab='dangnhap').active Đăng nhập
								a(href="#", tab='taotaikhoan') Tạo tài khoản
							.formDN-content
								.DN(tab='dangnhap')
									.DN-cont
										p Email/SĐT
										input(type="text" placeholder="Nhập email hoặc số điện thoại")
										p Mật khẩu
										input(type="text" placeholder="Mật khẩu từ 6 đến 32 kí tự")
										.quen-mk
											p Quên mật khẩu,nhấn tại 
											a(href="#") đây
										.btn-DN 
											a(href="#") ĐĂNG NHẬP
										.btn-DNFB
											a(href="#") Đăng nhập bằng Facebook
										.btn-DNGG
											a(href="#") Đăng nhập bằng Google
										.btn-DNZL
											a(href="#") Đăng nhập bằng Zalo
								.DN(tab='taotaikhoan')
									.TTK-cont
										p Nhập họ tên
										input(type="text")
										p Mật khẩu
										input(type="text")
										p Email
										input(type="text")
										p Mật khẩu
										input(type="text")
										.checkbox-KM
											input(type="checkbox")
											p Nhận các thông tin và chương trình khuyễn mãi qua email
										.btn-TTK 
											a(href="#") TẠO TÀI KHOẢN
									.formDNTC
										img(src="../img/DKTC.png", alt="Dang ki TC")
										h4 Bạn đã đăng ký email thành công!
										p Chúng tôi sẽ cập nhật thông tin khuyến mãi nhanh nhất đến email của bạn.
	.mobile
		.container
			.row
				//- .col-12.d-flex.align-items-center.justify-content-between.position-static
				.col-12.d-flex.align-items-center.justify-content-between
					.mobile-navbar
						.mobile-navbar-top
							.mobile-hamburger
								span
								span
								span
							.mobile-login
								a(href="#") Đăng nhập
								span |
								a(href="#") Tạo tài khoản
						.mobile-nav
					.mobile-hamburger
						span
						span
						span
					.mobile-logo
					.mobile-cart
	.line-header
	.bottom-header
		.container
			.row
				.col
					.logo-wrap
						.logo
							h1 việt thanh
							p mucsic center
					.search-box.input-group
						input.form-control(type="text" placeholder="Bạn muốn tìm ...")
						.input-group-append
							button.btn(type="submit")
								em.mdi.mdi-magnify
					.phone-box
						p
							| TP.HCM | 
							strong 0909 046 613
						p
							| Biên Hòa | 
							strong 0908 868 951
					.cart-wrap
						.cart
							img(src="./img/cart.png", alt="cart-icon")
							.number
								span 13
							.cart-popup
								-for(i = 0; i < 2; i++)
									.item
										.box-img
											img(src='./img/product/h01.jpg', alt='./img/product/h01.jpg')
										.item-detail
											a(href="#") Nashville Tele Honey Blonde
											p 600.000đ
										.item-count
											p x
												span 1
											button.btn-xoa Xóa
								.item-payment
									p Thành tiền
										span 1.234.000đ
									a(href="shopping-cart.html").btn-thanhtoan Xem giỏ hàng
	include ../menu/index.pug