section.navbar-wrap
	.container
		.row
			.col-12
				ul.sub-menu
					-for(i = 0; i <5; i++)
						li.active
							a(href="#") sub-nav-1
							span.mdi.mdi-chevron-right.btn-dropdown
							ul.sub-nav
								li
									a(href="#") sub-nav-2
								li
									a(href="#") sub-nav-2
								li
									a(href="#") sub-nav-2
								li
									a(href="#") sub-nav-2