footer
	.container
		.row
			.col-lg-3
				.logo
					h1 việt thanh
					p mucsic center
				.social
					img(src="./img/icon-fb.png", alt="1")
					img(src="./img/icon-ytb.png", alt="1")
					img(src="./img/icon-ins.png", alt="1")
					img(src="./img/icon-zalo.png", alt="1")
				.subscribe
					p Nhận thông tin khuyến mãi
					.subscribe-form
						input(type="text" placeholder="Nhập email của bạn...")
						button.btn-send
			.col-lg-3
				.footer-item
					ul
						li
							a(href="#") Giới thiệu công ty
						li
							a(href="#") Giới thiệu công ty
						li
							a(href="#") Giới thiệu công ty
			.col-lg-3
				.footer-item
					h3 Chi nhánh 1
					p.mdi.mdi-map-marker 613 Điện Biên Phủ, P.1, Q.3, TP.HCM
					p
						span.mdi.mdi-phone 0909 046 613
						span.mdi.mdi-car Có chỗ để ô tô
				.footer-item
					h3 Chi nhánh 2
					p.mdi.mdi-map-marker 613 Điện Biên Phủ, P.1, Q.3, TP.HCM
					p
						span.mdi.mdi-phone 0909 046 613
						span.mdi.mdi-car Có chỗ để ô tô
			.col-lg-3
				.footer-item
					h3 Chi nhánh 3
					p.mdi.mdi-map-marker 613 Điện Biên Phủ, P.1, Q.3, TP.HCM
					p
						span.mdi.mdi-phone 0909 046 613
						span.mdi.mdi-car Có chỗ để ô tô
			.col-12
				.copyright © 2019 Viet Thanh Music. All Rights Reserved.