section.home-service
	.container
		nav.service
			ul
				li
					div
						img(src="../img/home/icon-giaohang.png")
					div
						h4 GIAO HÀNG MIỄN PHÍ
						p Hóa đơn trên 2 triệu đồng
				li
					div
						img(src="../img/home/icon-doitra.png")
					div
						h4 GIAO HÀNG MIỄN PHÍ
						p Hóa đơn trên 2 triệu đồng
				li
					div
						img(src="../img/home/icon-nhac.png")
					div
						h4 GIAO HÀNG MIỄN PHÍ
						p Hóa đơn trên 2 triệu đồng