section.promotion
	.container
		.row
			.col-12
				ul
					li.promotion-title
						img(src="../img/img-khuyenmai.png", alt="KM")
						p KHUYẾN MÃI:
					li
						a(href="#") Giảm giá tết 10%
					li
						a(href="#") Giảm giá tết 20%
					li
						a(href="#") Giảm giá tết 30%
					li
						a(href="#") Giảm giá tết 10%