section.home-slider
	.container
		.row
			.col-lg-9.col-md-12
				.slider-left
					img(src="./img/home/slide.jpg", alt="slider")
			.col-lg-3.col-md-12
				.slider-right
					img(src="./img/home/img-slider.jpg", alt="img-slider")
					img(src="./img/home/img-slider.jpg", alt="img-slider")
					img(src="./img/home/img-slider.jpg", alt="img-slider")
