.home-slider
	margin-top: 20px
	.slider-left
		margin-right: -10px
	.slider-right
		img
			margin-bottom: 13px
	@media (max-width: 992px)
		.slider-left
			margin:0
			img
				width: 100%
		.slider-right
			img
				width: 100%
				margin: 0
		.bottom-swiper
			display: none
		.swiper-pagination-progressbar 
			display: none
	@media (max-width: 1200px)
		.top-swiper
			.swiper-wrapper
				.swiper-slide
					.box-img
						img
							width: 100%
	.swiper-container-horizontal
		.swiper-pagination-progressbar
			bottom: 0
			top: auto
	.swiper-pagination-progressbar 
		.swiper-pagination-progressbar-fill
			background: #ffcd18 !important
	.bottom-swiper
		.swiper-wrapper
			.swiper-slide
				p 
					text-align: center
					font-size: 12px
					border: 1px solid #e5e5e5
					padding:5px 10px
